.section-branding {
	&:not(:last-of-type) {
		margin-bottom: 140px;
	}
	.section-title {
		margin-bottom: 50px;
	}
	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px -30px;
	}
	&__col {
		padding: 0 15px;
		width: 33.33333%;
		margin-bottom: 30px;
	}
	&__font {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			font-size: 36px;
			line-height: 1;
			display: inline-block;
			margin-right: 50px;
		}
	}
	@include media($tablet) {
		&:not(:last-of-type) {
			margin-bottom: 80px;
		}
		.section-title {
			margin-bottom: 25px;
		}
		&__col {
			width: 50%;
		}
	}
	@include media($phablet) {
		&__grid {
			margin-left: 0;
			margin-right: 0;
		}
		&__col {
			width: 100%;
		}
		&__font {
			display: block;
			text-align: center;
			span {
				display: block;
				font-size: 24px;
				margin-right: 0;
				margin-bottom: 12px;
			}
		}
	}
}

.brand-block {
	&.is-light &__body {
		background-color: var(--white);
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 144px;
		background-color: var(--brand-dark);
		border-radius: 10px;
		padding: 42px;
	}
	&__foot {
		margin: 4px 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		li:not(:last-child) {
			margin-right: 22px;
		}
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 13px;
			line-height: 1;
			text-transform: uppercase;
			font-weight: 600;
			&:hover {
				color: var(--brand);
				svg {
					fill: var(--brand);
				}
			}
		}
		svg {
			margin: 0 3px 0 0;
			transition: var(--transition);
		}
	}
}

.brand-color {
	color: var(--dark);
	&.is-light {
		color: var(--white);
		.brand-color__copy {
			&:before {
				background-color: var(--white);
			}
			svg {
				fill: var(--white);
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;
		height: 200px;
		padding: 22px 25px;
	}
	&__title {
		font-size: 24px;
		line-height: 1.5;
		font-weight: 600;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__string {
		font-size: 16px;
		line-height: 1;
		font-weight: 500;
		opacity: .8;
	}
	&__copy {
		width: 32px;
		height: 32px;
		padding: 0;
		border: 0;
		font-size: 0;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		&.is-copied {
			&:before {
				animation: copyShadow .3s linear forwards;
			}
			svg {
				animation: copyIcon .3s .125s linear forwards;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: -8px;
			left: -8px;
			width: calc(100% + 16px);
			height: calc(100% + 16px);
			border-radius: 50%;
			background-color: var(--dark);
			opacity: .1;
		}
		svg {
			transition: var(--transition);
		}
	}
	&__foot {
		height: 32px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		div {
			&:nth-child(1) {
				opacity: .9;
			}
			&:nth-child(2) {
				opacity: .6;
			}
			&:nth-child(3) {
				opacity: .3;
			}
			&:nth-child(4) {
				opacity: .1;
			}
		}
	}
}

@keyframes copyShadow {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
}

@keyframes copyIcon {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(-180deg) scale(.25);
	}
	100% {
		transform: rotate(-360deg) scale(1);
	}
}